@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* line-clamp */
  .line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
  }
  .line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
  }
  .line-clamp-4 {
    -webkit-line-clamp: 4;
  }
  .line-clamp-5 {
    -webkit-line-clamp: 5;
  }
  .line-clamp-6 {
    -webkit-line-clamp: 6;
  }
}

/* scrollbar */
.scrollbar {
  overflow: auto;
  height: 650px;
}
.scrollbar::-webkit-scrollbar {
  @apply bg-white;
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
  border-radius: 12px;
}

.scrollbar_hidden::-webkit-scrollbar {
  display: none;
}